
footer.footer
    .container
        .footer__top
            h2.footer__title
                | Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
            form.footer__form(action="")
                input(type="text" placeholder="Nhập email của bạn...")
                button Đăng ký ngay
        .footer__middle
            nav.footer__links
                ul
                    li
                        a(href="index.html") Trang chủ
                    li
                        a(href="#") Danh mục
                    li
                        a(href="#") Giới thiệu
                    li
                        a(href="#") Liên hệ
            nav.footer__socials
                ul
                    li
                        a(href="#" target="_blank")
                            i.fa-brands.fa-facebook
                    li
                        a(href="#" target="_blank")
                            i.fa-brands.fa-twitter
                    li
                        a(href="#" target="_blank")
                            i.fa-brands.fa-instagram
                    li
                        a(href="#" target="_blank")
                            i.fa-brands.fa-youtube
        .footer__bottom
            .footer__copyright
                | © 2023 28Tech. All rights reserved.
            .footer__logo
                img(src="./assets/image/logo.svg" alt="logo")
            nav.footer__links
                ul
                    li
                        a(href="#") Điều khoản dịch vụ
                    li
                        a(href="#") Chính sách bảo mật