header.header
    .container
        .header__wrap
            button.header__button-toggle
                i.fa-solid.fa-bars
            .header__logo
                a(href="index.html")
                    img(src="./assets/image/logo.svg" alt="logo")
            nav.header__menu
                ul
                    li
                        a(href="index.html") Trang chủ
                    li
                        a(href="product.html") Danh mục
                    li
                        a(href="#") Giới thiệu
                    li
                        a(href="#") Liên hệ
            button.header__button-search
                i.fa-solid.fa-magnifying-glass
            form.header__search(action="#")
                i.fa-solid.fa-magnifying-glass
                input(type="text" placeholder="Nhập từ khóa...")
            a.button(href="#")
                | Tham gia cộng đồng