mixin product-item()
    .product-item
        .product-item__image
            img(src="assets/image/product-image-1.png" alt="")
        .product-item__content
            h3.product-item__title
                a(href="product-detail.html")  MO231 - Pomeranian Trắng
            .product-item__desc
                .product-item__desc-item
                    | Giống:
                    b Đực
                .product-item__dot
                .product-item__desc-item
                    | Tuổi:
                    b 02 tháng
            .product-item__price
                | 6.900.000 VND